@font-face {
  font-family: Roboto-Regular;
  src: url("Roboto/Roboto-Regular.ttf");
}

[data-theme="light"] {
  --default-text-color: white;
  --default-fill: white;
  --default-hyperlink: #009aad;
  --default-text-highlight: #05a3b6;
  --default-fill-highlight: #05a3b6;
  --default-background-color: black;
  --default-background-color-primary: #00acff;
  --default-background-color-primary-hover: #0075ad;
  --default-border-radius: 3em;
  --modal-border-radius: 0.4em;
  --full-border-radius: 100em;
  --default-blur: blur(10px);

  /* Replace with @property */
  --gradient-background: linear-gradient(
    315deg,
    rgba(14, 14, 14, 1) 0%,
    rgba(40, 40, 40, 1) 100%
  );
}

[data-theme="dark"] {
  --default-text-color: white;
  --default-background-color: black;
}

* {
  font-family: Roboto-Regular;
  text-decoration: none;
  transition: 0.03s;
}

button:hover {
  cursor: pointer;
}

a {
  color: var(--default-hyperlink);
}
a svg path {
  fill: var(--default-fill);
}

a:hover {
  color: var(--default-background-color-primary-hover);
}
a:hover svg path {
  fill: var(--default-fill-highlight);
}

body {
  position: relative;
  background-color: white;
  color: var(--default-text-color);
  min-height: 100dvh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-image: url("./background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Make the background darker, requires new stacking context*/
header::after,
.post::after,
.main::after,
#form::after {
  top: 0px;
  left: 0px;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: absolute;
  z-index: -10;
  background: var(--gradient-background);
  /*background-color: var(--default-background-color);*/
  border-radius: var(--modal-border-radius);
}

/* Pseudo element for backdrop-filter */
/* https://stackoverflow.com/questions/52937708/why-does-applying-a-css-filter-on-the-parent-break-the-child-positioning */
body > #background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  backdrop-filter: blur(3px);
  pointer-events: none;
}
main {
  height: 100%;
  flex-grow: 1;
}
.main {
  position: relative;
  margin: 0em 2em;
  padding: 1em 1em;
}
.main-alt {
  margin: 0em 2em;
  padding: 1em 1em;
}

header {
  position: fixed; /* Create new stacking context */
  margin: 0.3em 0.4em;
  padding: 0em 1em;

  backdrop-filter: var(--default-blur);
  z-index: 10;
  /* technique to stretch without 'witdh' */
  left: 0px;
  right: 0px;
  /************************************************/
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav * > a {
  color: var(--default-text-color);
}
header nav ul {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin-left: auto;
}
header nav * > li {
  list-style-type: none;
}
header nav * > li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  fill: var(--default-fill);
}
header nav * > li a:hover {
  color: var(--default-text-highlight);
  fill: var(--default-fill-highlight);
}
#header-padding {
  pointer-events: none;
  margin-bottom: 40px;
}

#form {
  /* Auto-align to center */
  width: fit-content;
  margin: auto auto;
  /************************/

  backdrop-filter: var(--default-blur);
  padding: 1em 3em 3em 3em;
  border-radius: 1em;
  position: relative;
  min-width: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  color: var(--default-text-color);
  background-color: var(--default-background-color);
  border: 0px;
  height: 2em;
  border-radius: 1em;
  padding-left: 0.8em;
}
input:hover {
  outline: 1px solid white; /* Outline does not effect dom */
}
#form * > form {
  display: flex;
  flex-direction: column;
}
.action-submit {
  background-color: var(--default-background-color-primary);
  color: var(--default-text-color);
  padding: 0.6em 1.1em;
  margin: 1em 0em;
  border-radius: var(--full-border-radius);
  font-size: 1em;
  font-weight: 700;
  border: 0;
}
.action-submit:hover {
  background-color: var(--default-background-color-primary-hover);
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 7em;
  background-color: var(--default-background-color);
  padding: 0em 1em;
  margin-top: 100px;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
  color: var(--default-text-color);
  fill: var(--default-text-color);
}
footer ul li a:hover {
  fill: var(--default-hyperlink);
}

#post-form textarea {
  color: var(--default-text-color);
  background-color: transparent;
  font-size: 1em;
  border: 0px;
  padding: 0.5em 0.3em;
  border-radius: 0.3em;
}
#post-form textarea:hover,
#post-form textarea:focus {
  outline: 1px solid grey;
}

.card-main *,
.post * {
  color: var(--default-text-color);
}
.post {
  position: relative;
  padding: 0.4em 1em;
  margin: 1em 0;
}
.post-controls {
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.post-controls li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
.post-controls li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3em;
}
.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  padding: 0.6em 1.1em;
  font-size: 1em;
  background: var(--gradient-background);
  font-weight: 700;
  display: flex;
  align-items: center;
}

.times {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
}
.times #input-container {
  display: flex;
  flex-direction: column;
}
.times #button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2em;
  width: fit-content;
  margin-left: auto;
}

.edit {
}

.delete {
}
