<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    
    {% block title %}
    {% endblock %}
  
  </title>

</head>
<body>

  <h1><a href="/" style="text-decoration: none; color: #000;">Progress Website👨‍💻</a></h1>
  <a href="/progress">Post something</a>
  <a href="/profile/{{user.username}}">Your profile</a>
  <a href="/logout">Log Out</a>

  {% block body %}
  {% endblock %}  

</body>
</html>