<nav id="nav">
  <h1 class="nav-title">
    <a href="/" style="text-decoration: none">Progress Website👨‍💻</a>
  </h1>
  <ul>
    {% if user.is_authenticated %}
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.7em"
        height="1.7em"
        viewBox="0 0 24 24"
      >
        <path
          fill="black"
          d="M21 10V9l-6-6H5c-1.11 0-2 .89-2 2v14a2 2 0 0 0 2 2h6v-1.87l8.39-8.39c.44-.44 1-.68 1.61-.74m-7-5.5l5.5 5.5H14zm8.85 9.69l-.98.98l-2.04-2.04l.98-.98c.19-.2.52-.2.72 0l1.32 1.32c.2.2.2.53 0 .72m-3.72-.36l2.04 2.04L15.04 22H13v-2.04z"
        />
      </svg>
      <a type="button" href="/progress">Post something</a>
    </li>
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.7em"
        height="1.7em"
        viewBox="0 0 24 24"
      >
        <path
          fill="black"
          fill-rule="evenodd"
          d="M8 7a4 4 0 1 1 8 0a4 4 0 0 1-8 0m0 6a5 5 0 0 0-5 5a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3a5 5 0 0 0-5-5z"
          clip-rule="evenodd"
        />
      </svg>
      <a type="button" href="/profile/{{user.username}}">Your profile</a>
    </li>
    <li>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.7em"
        height="1.7em"
        viewBox="0 0 24 24"
      >
        <path
          fill="black"
          d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"
        />
      </svg>
      <a type="button" href="/logout">Log Out</a>
    </li>
    {% else %}
    <li><a type="button" href="/login">Log In</a></li>
    <li><a type="button" href="/register">Register</a></li>
    {% endif %}
  </ul>
  <script>
    // Create a boundry for the header
    const nav = document.getElementById("nav");

    const config = { attributes: true, childList: true, subtree: true };

    const resize_observer = new ResizeObserver((entries) => {
      update_nav();
    });

    const update_nav = () => {
      const nav_padding = document.getElementById("nav-padding");
      nav_padding.style.height = nav.getBoundingClientRect().height + "px";

      resize_observer.observe(nav);
    };

    const observer = new MutationObserver(update_nav);
    observer.observe(nav, config);
  </script>
</nav>
<div id="nav-padding"></div>
