{% extends 'base.html' %}

{% block title %}
  Progress Website
{% endblock %}

{% block body %}
<div class="main-alt">
  {% if not content %}
    <p>No posts yet.</p>
  {% endif %}

  {% for post in content %}
  <div class="post">
    <h2 class="card-main">
      <img class="card-image" src="{{ post.user.profile.image.url }}" height="25px" alt="{{ post.user }} image">
      <a class="card-username" href="/profile/{{ post.user }}" >{{ post.user }}'s</a>
      <a class="card-title" href="/post/{{post.id}}">{{ post.title }}</a>
    </h2>
    <a href="/post/{{post.id}}">

      <p>{{post.progress}}</p>

      <div class="post-footer">

        <h3>
          Time spent:
          {% if post.hours > 0 %}
            {{ post.hours }} hour{{ post.hours|pluralize }}
            {% if post.minutes > 0 %} and {{ post.minutes }} minute{{ post.minutes|pluralize }}{% endif %}
          {% else %}
            {{ post.minutes }} minute{{ post.minutes|pluralize }}
          {% endif %}
        </h3>

    </a>
        {% if requested == post.user %}
          <div>
            <ul class="post-controls">
              <li class="delete">
                <a href="delete/{{ post.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24">
                  <path  d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zm2-4h2V8H9zm4 0h2V8h-2z" />
                </svg>
                  delete</a>
              </li>
              <li class="edit">
                <a  href="edit/{{ post.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.7em" height="1.7em" viewBox="0 0 24 24">
                  <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75zM20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z" />
                </svg>
                  edit</a>
              </li>
            </ul>
          </div>
        {% else %}

        {% endif %}
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
