{% extends 'base.html' %}

{% block title %}
  Progress Website
{% endblock %}

{% block body %}
  {% for post in content %}
    <h2><a href="/profile/{{ post.user }}">{{ post.user }}</a>'s {{post.title}}</h2>
    <p>{{post.progress}}</p>

    <h3>
      Time spent:
      {% if post.hours > 0 %}
        {{ post.hours }} hour{{ post.hours|pluralize }}
        {% if post.minutes > 0 %} and {{ post.minutes }} minute{{ post.minutes|pluralize }}{% endif %}
      {% else %}
        {{ post.minutes }} minute{{ post.minutes|pluralize }}
      {% endif %}
    </h3>
  {% endfor %}
{% endblock %}