{% extends 'base.html' %}

{% block title %}
  Post Creation
{% endblock %}

{% block body %}
<div class="main">

  <h1 id="form-title">Enter your progress</h1>

  {% if error %}
    <h3 class="error-message">{{error}}</h3>
  {% endif %}

  {% if post %}
    <form id="post-form" method="post" action="{% url 'edit' post.id %}">
  {% else %}
    <form id="post-form" method="post" action="progress">
  {% endif %}
      {% csrf_token %}
      <p>Enter your today's progress</p>
      <textarea type="text" maxlength="900" name="progress" rows="20" cols="50" placeholder="Enter your progress here"></textarea>
      <p>How much time did you spent?</p>
      <div class="times">
        <div id="input-container">
          <label for="hours">Hours</label>
          <input type="number" maxlength="2" name="hours" placeholder="e.g. 4"  />
          <label for="minutes">Minutes</label>
          <input type="number" maxlength="2" name="minutes" value="0" placeholder="e.g. 30"  />
        </div>
        <div id="button-container">
        {% if post %}
        <button class="action-submit" type="submit">Edit</button>
        {% else %}
        <button class="action-submit" type="submit">Post</button>
        {% endif %}
        <a href="/"><input type="button" class="button" value="Go back"/></a>
        </div>
      </div>
    </form>
</div>
{% endblock %}
