{% extends 'base.html' %}

{% block title %}
  Post Creation
{% endblock %}

{% block body %}
  <h1>Enter your progress</h1>
  
  <form method="post" action="progress">
    {% csrf_token %}
    <p>Enter your today's progress</p>
    <textarea type="text" maxlength="900" name="progress" rows="20" cols="50" placeholder="Enter your progress here"></textarea>
    <p>How much time did you spent?</p>
    <label for="hours">Hours</label>
    <input type="number" maxlength="2" name="hours" placeholder="e.g. 4"  />
    <label for="minutes">Minutes</label>
    <input type="number" maxlength="2" name="minutes" value="0" placeholder="e.g. 30"  />
    <input type="submit" />
    <a href="/"><input type="button" value="Go back"/></a>
  </form>
  {% if error %}
    <p style="color: rgb(238, 121, 121); font-weight: bold;">{{error}}</p>
  {% endif %}
{% endblock %}