{% extends 'base.html' %}

{% block title %}
  {{profile.user}}'s Profile
{% endblock %}

{% block body %}

  <div class="row">
    <!-- TODO: Make styling for profile page -->
    <div class="profile">

      <div class="image-box">
        <img class="profile-pic" src="{{ profile.image.url }}" alt="{{ profile.user }}'s profile picture" />
      </div>
    
      <div class="text-box">
        <h1>{{ profile.user }}</h1>
        <p>{{ profile.user.email }}</p>
        <p>Member since: {{ profile.user.date_joined|date:"F j, Y" }}</p>
      </div>

    </div>    
    
    {% for post in posts reversed %}
			{% include 'post_card.html' %}
    {% endfor %}
      
      {% if not posts %}
        <h3>No posts yet.</h3>
      {% else %}  

      {% endif %}

    </div>
  </div>
{% endblock %}
