{% extends 'base.html' %}

{% block title %}
  {{profile.user}}'s Profile
{% endblock %}


{% block body %}

<h1>{{ profile.user }}</h1>
<img src="{{ profile.image.url }}" style="height: 200px; width: 200px; border: 1px solid black; border-radius: 50%;"/>
<p>{{ profile.user.email }}</p>
<p>Member since: {{ profile.user.date_joined }}</p>

<div class="row">
  <div class="leftcolumn">

    {% for post in posts reversed %}
    <div class="card">
      <h2>
        <a href="/profile/{{ post.user }}" style="text-decoration: none; color: green;">{{ post.user }}</a>'s 
        <a href="/post/{{post.id}}" style="text-decoration: none; color: black;">{{ post.title }}
      </h2>
      <p>{{post.progress}}</p>

        <h3>
          Time spent:
          {% if post.hours > 0 %}
            {{ post.hours }} hour{{ post.hours|pluralize }}
            {% if post.minutes > 0 %} and {{ post.minutes }} minute{{ post.minutes|pluralize }}{% endif %}
          {% else %}
            {{ post.minutes }} minute{{ post.minutes|pluralize }}
          {% endif %}
        </h3>

        </a>
      </div>
    {% endfor %}
</div>
</div>
{% endblock %}