{% extends 'base.html' %}

{% block title %}
  {{profile.user}}'s Profile
{% endblock %}

{% block body %}

<div class="row">
  <!-- TODO: Make styling for profile page -->
  <h1>{{ profile.user }}</h1>
  <p>Current Streak: {{ profile.streak }}</p>
  <img src="{{ profile.image.url }}" style="height: 200px; width: 200px; border: 1px solid black; border-radius: 50%;"/>
  <p>{{ profile.user.email }}</p>
  <p>Member since: {{ profile.user.date_joined }}</p>

  <div class="left-column">

    {% for post in posts reversed %}
    <hr>
    <div class="card">
      <h2 class="card-main">
        <img class="card-image" src="{{ post.user.profile.image.url }}" height="25px" alt="{{ post.user }} image">
        <a class="card-username" href="/profile/{{ post.user }}" >{{ post.user }}</a>'s
        <a class="card-title" href="/post/{{post.id}}">{{ post.title }}</a>
      </h2>
      <a href="/post/{{post.id}}">

        <p class="card-progress">{{post.progress}}</p>

        <div class="hours-layout">

          <h3>
            Time spent:
            {% if post.hours > 0 %}
              {{ post.hours }} hour{{ post.hours|pluralize }}
              {% if post.minutes > 0 %} and {{ post.minutes }} minute{{ post.minutes|pluralize }}{% endif %}
            {% else %}
              {{ post.minutes }} minute{{ post.minutes|pluralize }}
            {% endif %}
          </h3>
          
      </a>
          {% if requested == post.user %}
            <div>
              <a class="delete" href="../delete/{{ post.id }}">delete</a>
              <a class="edit" href="../edit/{{ post.id }}">edit</a>
            </div>
          {% else %}
        
          {% endif %}
        </div>
    </div>
    {% endfor %}
    
    {% if not posts %}
      <h3>No posts yet.</h3>
    {% else %}  
      <hr>
    {% endif %}

</div>
</div>
{% endblock %}