{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<title>Registration</title>


<div class="container">
  <h1 id="form-title">Sign Up below</h1>
  <form method="post" method="register">
    {% csrf_token %}
    <p>Username: </p>
    <input type="text" name="username" />
    
    <p>Email: </p>
    <input type="email" name="email" />
    
    <p>Password: </p>
    <input type="password" name="password" />
    
    <p>Repeat Password: </p>
    <input type="password" name="password2" />
    <br>
    <button class="full-width" type="submit">Submit</button>
  </form>
</div>